<footer>
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <span class="text-sm text-neutral-600 dark:text-neutral-500 flex justify-center">
      From Poland with Love.
    </span>
    <span class="text-xs text-neutral-600 dark:text-neutral-500 flex justify-center">
      Created using <a class="underline ml-1" target="_blank" href="https://getpelican.com/">Pelican</a>.
      Source code on <a class="underline ml-1" target="_blank" href="https://github.com/lukzmu/family-website">GitHub</a>.
    </span>
  </div>
</footer>